
<div  id="mainbar">
   
            <div class = "casefile">
                <div class="caseFilesButton">
                    <p>Case Files</p>
                </div>
                <div class = "files">
                    <p>Upload casefile 1</p>
                    <input type = "file">upload file(pdf)</input>
                </div>
                <div class = "files">
                    <p>Upload casefile 2</p>
                    <input type = "file">upload file(pdf)</input>
                </div>

                <div class = "files">
                    <p>Upload casefile 3</p>
                    <input type = "file">upload file(pdf)</input>
                </div>
            </div>
          
</div>